.container{
    margin-left: 300px;
    margin-top: 30px;
}

.container p {
    text-align:center;
    height:20px;
    cursor:pointer;
    object-fit:content;
    margin-top:10px;
}

.container p:hover{
   transform: scale(1.5);
   -webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
   -ms-transform: scale(1.5);
   -o-transform: scale(1.5);
}