body{
    background-color: white;
}
.orderplaced{
    align-items: center;
    justify-content: center;
    display:flex;
}

.orderplaced img{
    width:300px;
}

h3{
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn{
    align-items: center;
    display: flex;
    justify-content: center;
}